/* style elemnt default area */
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700px;
}

p{
    font-family: sans-serif;
    color: #323232;
}

/* countainer main area */
.main_page{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}


/* header nav area */
.Header_nav_countain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.Header_judul{
    display: flex;
    flex-direction: column;
}

.coutaner_line_judul{
    display: flex;
    flex-direction: row;
}

.line_judul1{
    background-color: #323232;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 4px;
}
.line_judul2{
    background-color: #EEA557;
    max-width: 100%;
    max-height: 100%;
    width: 65px;
    height: 4px;
    margin-left: 0.2rem;
}
.line_judul3{
    background-color: #FF7D7D;
    max-width: 100%;
    max-height: 100%;
    width: 45px;
    height: 4px;
    margin-left: 0.2rem;
}



/* bagian button page area */
.link_a_page{
    text-emphasis: none;
    text-decoration-line: none;
    text-decoration-color: none;    
}

.countainer_next_page_button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    
}

.p_buton_next_page1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #323232;
    font-weight: bold;
}
.p_buton_next_page2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FAFAFA;
    font-weight: bolder;
}
.p_buton_next_page3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #323232;
    font-weight: bold;
}
.p_buton_next_page4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FBFBFB;
    font-weight: bold;
}

.button_Profile{
    width: 90px;
    height: 33px;
    aspect-ratio: 110/43;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    display: flex;
    align-items: center;
    justify-content: center;


}
.button_Profile:hover {
    transform: scale(1.050) rotate(2.5deg);
    transition-duration: 0.1s;
}


.button_edu{
    width: 71px;
    height: 33px;
    aspect-ratio: 71/43;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_edu:hover {
    transform: scale(1.050) rotate(2.5deg);
    transition-duration: 0.1s;
}

.button_form{
    width: 70px;
    height: 33px;
    aspect-ratio: 101/43;
    border-radius: 12px;
    border: 2px solid #212655;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #212655;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_form:hover {
    transform: scale(1.050) rotate(2.5deg);
    transition-duration: 0.1s;
}


.button_tugas{
    width: 76px;
    height: 33px;
    aspect-ratio: 76/43;
    border-radius: 12px;
    border: 2px solid #212655;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #212655;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_tugas:hover {
    transform: scale(1.050) rotate(2.5deg);
    transition-duration: 0.1s;
}


/* area content profile */
.cointainer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    gap: 5rem; 
    margin-top: 4.5rem;
    width: 100%;
}

.profile_content {
    flex: 0 1 260px;
    display: flex;
    justify-content: center;
}

.img_profile {
    width: 100%;
    height: auto; 
    max-width: 260px;
    border-radius: 20px;
}

.profile_content_desc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem;
    flex: 1 1 360px; 
    max-width: 600px;
    align-items: flex-start;
}

.simbol_desc{
    width: 45px;
    height: 37px;
    aspect-ratio: 45/37;
    border-radius: 9px;
    border: 2px solid #323232;
    background: #EEA557;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simbol_desc:hover{
    width: 45px;
    height: 37px;
    aspect-ratio: 45/37;
    border-radius: 9px;
    border: 2px solid #323232;
    background: #EEA557;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.050) rotate(-4.5deg);
    transition-duration: 0.1s;
}

.praft_desc{
    display: flex;
    flex-direction: column;
}


/* skill desc area */
.skill_desc_countainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    max-height: 440px;
    margin-bottom: 0.5rem;
} 

.countainer_skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: baseline;
    justify-content: space-evenly; 
    gap: 4rem;
    width: 100%;
}

.skill_countent{
    width: 100%;
    max-width: 490px;
    height: auto;
    border-radius: 20px;
    background: #FBFBFB;
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 0.11);
    padding: 2%;
}


.h2_skill{
    /* font-size: 2rem; */
    color: #32323289;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5rem;
}

.h3_skill{
    color: #323232;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 4px;
}

.line_skill1{
    background-color: #212655;;
    width: 100%;
    max-width: 4rem;
    height: 1px;
    /* border: solid #32323289 0.5px ; */
}
.line_skill2{
    background-color: #EEA557;;
    width: 100%;
    max-width: 2rem;
    height: 1px;
    /* border: solid #32323289 0.5px ; */
}
.line_skill3{
    background-color: #FF7D7D;;
    width: 100%;
    max-width: 3.5rem;
    height: 1px;
    /* border: solid #32323289 0.5px ; */
}
.line_skill4{
    background-color: #FF7D7D;;
    width: 100%;
    max-width: 1rem;
    height: 1px;
    /* border: solid #32323289 0.5px ; */
}

.countainer_skill_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    height: auto;
    width: auto;
    /* max-width: 443px; */
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 2rem;
    justify-content: left;
}

/* logo desain grafis */
.logo_skill1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 5/10;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;

    .Figma_logo{
        width: 100%;
        height:100%;
        max-width: 51px;
        max-height: 51px;
        /* flex: 2 2 2 2; */
        aspect-ratio: 1/1;
    }

    
}
.logo_skill1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 5/10;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .Figma_logo{
        width: 100%;
        height:100%;
        max-width: 51px;
        max-height: 51px;
        /* flex: 2 2 2 2; */
        aspect-ratio: 1/1;
    }
}

.logo_skill2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height:500%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .Ps_logo{
        width: 34px;
        height: 33px;
        flex: 2 2 2 2;
        aspect-ratio: 34/33;
    }
}
.logo_skill2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height:500%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .Ps_logo{
        width: 34px;
        height: 33px;
        flex: 2 2 2 2;
        aspect-ratio: 34/33;
    }
}
.logo_skill3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height:500%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;
        
    .afinity_logo{
        width: 34px;
        height: 34px;
        flex: 2 2 2 2;
        aspect-ratio: 1/1;
        font-size: medium;
    }
}
.logo_skill3:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height:500%;
    max-width: 75px;
    max-height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;
        
    .afinity_logo{
        width: 34px;
        height: 34px;
        flex: 2 2 2 2;
        aspect-ratio: 1/1;
        font-size: medium;
    }
}
.logo_skill4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;

    .corelDraw_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill4:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;
    .corelDraw_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill5{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .h4_skill{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #323232;
        margin: 1rem;
    }

}
.logo_skill5:hover{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .h4_skill{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #323232;
        margin: 1rem;
    }

}


/* logo softwear engginer */
.logo_skill_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;

    .html_logo{
        width: 34px;
        height: 33px;
        aspect-ratio: 34/33;
    }
}
.logo_skill_1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .html_logo{
        width: 34px;
        height: 33px;
        aspect-ratio: 34/33;
    }
}

.logo_skill_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .css_logo{
        width: 35px;
        height: 35px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .css_logo{
        width: 35px;
        height: 35px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;

    .js_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_3:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .js_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .py_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_4:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .py_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .mysql_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_5:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .mysql_logo{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;

    .C_logo{
        width: 37px;
        height: 36px;
        aspect-ratio: 37/36;
    }
}
.logo_skill_6:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .C_logo{
        width: 37px;
        height: 36px;
        aspect-ratio: 37/36;
    }
}

.logo_skill_7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .java_logo{
        width: 35px;
        height: 35px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_7:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .java_logo{
        width: 35px;
        height: 35px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;   
    
    .react_log{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}
.logo_skill_8:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #323232;   
    transform: scale(1.050);
    transition-duration: 0.3s;

    .react_log{
        width: 34px;
        height: 34px;
        aspect-ratio: 1/1;
    }
}

.logo_skill_9{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;

    .h4_skill{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #323232;
        margin: 1rem;
    }

}
.logo_skill_9:hover{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: 54px;
    aspect-ratio: 25/18;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #323232;
    transform: scale(1.050);
    transition-duration: 0.3s;

    .h4_skill{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #323232;
        margin: 1rem;
    }

}

.h2_skill_01{
    /* font-size: 2rem; */
    color: #32323289;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* project desain area */
.countainer_project_dsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: baseline;
}

.container_content_project_dsg{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}

.content_project_dsg{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
    align-content: center;
}

.content_project_dsg_box{
    height: auto;
    background: #FBFBFB;
    padding: 1%;
    gap: 1rem;

    .Prg_dsg_1{
        width: 308px;
        height: 296px;
        aspect-ratio: 77/74;
        border-radius: 28px;
        border: 3px solid #EEA557;
        box-shadow: -4px 4px 4px 0 rgba(238, 165, 87, 0.20);
    }
    .Prg_dsg_2{
        width: 308px;
        height: 296px;
        aspect-ratio: 77/74;
        border-radius: 28px;
        border: 3px solid #EEA557;
        box-shadow: -4px 4px 4px 0 rgba(238, 165, 87, 0.20);
    }
    .Prg_dsg_3{
        width: 308px;
        height: 296px;
        aspect-ratio: 77/74;
        border-radius: 28px;
        border: 3px solid #212655;
        box-shadow: -4px 4px 4px 0 rgba(33, 38, 85, 0.20);
    }
}

.box_content_prg_desg{
    margin: 1%;
    width: 100%;
    max-width: 308px;
    height: auto;
    aspect-ratio: 307/98;
    border-radius: 25px;
    border: 2px solid #EEA557;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #EEA557;
}

.h4_project{
    padding-left: 1rem; 
    margin-bottom: 5px;
    color: #EEA557;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p_project{
    padding-left: 1rem;
    margin-top: 10px;
    font-family: sans-serif;
    color: #8c8c8c;
    font-size: small;
}

.a_style_link_project{
    color: #8c8c8c;
    text-decoration: none;
}
.a_style_link_project:hover{
    color: #eea557a2;
    text-decoration: underline;
}


.content_project_dsg2{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 100%;
    align-content: center;
}

.content_project_dsg_box2{
    height: auto;
    background: #FBFBFB;
    padding: 1%;
    gap: 1rem;
    margin-left: 2.5rem;

    .Prg_dsg_02{
        display: flex;
        align-items: center;
        padding-left: 4%;
        width: 308px;
        height: 296px;
        aspect-ratio: 77/74;
        border-radius: 28px;
        background: #FFF;
        box-shadow: -4px 4px 4px 0 rgba(33, 38, 85, 0.20);
    }

    .h4_project2{ 
    /* margin-bottom: 5px; */
    color: #4e4e4e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.box_content_prg_desg2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    width: 100%;
    max-width: 308px;
    height: auto;
    aspect-ratio: 307/98;
    border-radius: 25px;
    /* border: 2px solid #EEA557; */
    background: #FBFBFB;
    box-shadow: -4px 4px 4px 0 rgba(33, 38, 85, 0.20);
    }

}


/* area form */
.Form_countainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.form_box{
    width: 100%;
    height:100%;
    max-width: 785px;
    max-height: 682px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 62px;
    border: 3px solid rgba(238, 165, 87, 0.32);
    background: #FFF;
    box-shadow: -10px 10px 4px 0 rgba(238, 165, 87, 0.20);
    padding: 0rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}


.form_box_child{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin-left: 1rem;
}

.label_box{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-right: 2rem;
    align-items: center;
}

.submit_box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.submit_box:hover{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    transform: scale(0.90);
    transition: 0.3s;
}

.submit_b{
    width: 114px;
    height: 43px;
    aspect-ratio: 114/43;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FAFAFA;
    letter-spacing: 0.8px;
}


.input_box{
    width: 438px;
    border-radius: 12px;
    border: 3px solid #EEA557;
    background: #FBFBFB;
    box-shadow: -5px 5px 0 0 #EEA557;
}

.label_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 43px;
    aspect-ratio: 81/43;
    border-radius: 12px;
    border: 2px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #323232;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

.label_item1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 43px;
    aspect-ratio: 81/43;
    border-radius: 12px;
    border: 2px solid #212655;
    background: #FF7D7D;
    box-shadow: -5px 5px 0 0 #212655;
    color: #FBFBFB;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}


.label_item3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 43px;
    aspect-ratio: 106/43;
    border-radius: 12px;
    border: 2px solid #212655;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #212655;
    color: #323232;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact_h1{
    color: #EEA557;
    text-shadow: 0 4px 4px rgba(238, 165, 87, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
}
.contact_text_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project_090{
    height: 100%;
    max-height: 1300px;
}





/* coba coba(belum paham) untuk penyesuaian dvice hp area*/
@media (max-width: 768px) {
    .profile_content_desc {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    
    .praft_desc h1 {
        font-size: 12vw; 
    }

    .skill_desc_countainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    max-height: 440px;
    margin-bottom: 10rem;
    } 

    .content_project_dsg_box2{
    height: auto;
    background: #FBFBFB;
    padding: 1%;
    gap: 1rem;
    margin-left: 0rem;
    }
    .project_090{
    height: 100%;
    max-height: 2070px;
    margin-bottom: 1rem;
    }
    .contact_h1{
        margin-bottom: 0.2rem;
    }
    .form_box{
        border-radius: 31px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1rem;
    }
    
    .input_box{
        width: 170px;
        border-radius: 12px;
        border: 3px solid #EEA557;
        background: #FBFBFB;
        box-shadow: -5px 5px 0 0 #EEA557;
    }

    .label_item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 25px;
        aspect-ratio: 81/43;
        border-radius: 8px;
        border: 2px solid #323232;
        background: #EEA557;
        box-shadow: -5px 5px 0 0 #323232;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #323232;
        /* font-weight: 600; */
        line-height: normal;
        letter-spacing: 0.4px;
        font-size: smaller;
    }
    .label_item1{
        width: 45px;
        height: 25px;
        aspect-ratio: 81/43;
        font-size: smaller;
        /* font-weight: 600; */
        border-radius: 8px;
        letter-spacing: 0.4px;
    }
    .label_item3{
        width: 70px;
        height: 25px;
        aspect-ratio: 81/43;
        border-radius: 8px;
        color: #323232;
        font-size: smaller;
        font-weight: 700;
        letter-spacing: 0.4px;
        margin-bottom: 1.5rem;
    } 
    .submit_b{
        width: 80px;
        height: 33px;
        aspect-ratio: 114/43;
        border-radius: 8px;
        border: 2px solid #323232;
        background: #EEA557;
        box-shadow: -5px 5px 0 0 #323232;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: smaller;
        font-weight: 700;
        color: #FAFAFA;
        letter-spacing: 0.4px;
    }     
}

@media(max-width:1028px ){
    
    .skill_desc_countainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    max-height: 900px;
    margin-bottom: 2rem;
    } 
}

@media(max-width:1132px){
    .project_090{
    height: 100%;
    max-height: 2100px;
    }
}
