body{
    margin-bottom: 0;
}

.Navbar_sticky{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;   
    position: fixed;
    /* position: absolute; */
    left: 1em;
    top: 30%;    
    
    .section_button{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 1em;
        column-gap: 1em;
        margin-top: 0.5em;
        border-radius: 40px;
        background: #FBFBFB;
        box-shadow: -5px 5px 15px 0 rgba(33, 38, 85, 0.25);

        .a-style_navbar{
            text-decoration: none;
            display: flex;
            
            .logo_navbar{
                border-radius: 2em;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
                transition: all ease-in-out 0.3s;
                justify-content: center;

                
                .ri-home-3-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    margin-top: 0.5em;
                    transition: all ease-in-out 0.3s;
                }
                .ri-user-3-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    transition: all ease-in-out 0.3s;
                }
                .ri-phone-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    transition: all ease-in-out 0.3s;
                }
                .ri-bookmark-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    margin-bottom: 0.5em;
                    transition: all ease-in-out 0.3s;
                }
            }
        }
        .a-style_navbar:hover .logo_navbar i {
            color: #fffefe; 
        }
        .ri-home-3-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-user-3-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-phone-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-bookmark-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
    }       
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 2em;
    margin-top: 0em;
    margin-left: 7em;
    margin-right: 4em;
    i{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #212121;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: all ease-in-out 0.2s;
        
        p{
            font-size: 25px;
            margin-left: 0.5em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            transition: all ease-in-out 0.2s;
        }
    }
    
    a{
        text-decoration: none;
        color: #212121;
    }
    .Faq_btn{        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        width: auto;
        height: auto;
        padding: 0.4em;
        gap: 1em;
        border-radius: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        i{
            font-size: 20px;
            opacity: 0%;
        }
        
        p{
            margin: 0em;
            padding: 0em;
        }
    }
    .Faq_btn:hover{
        background-color: #131313;
        border-radius: 20px;
        padding-left: 1em;
        padding-right: 1em;
        color: #FBFBFB;
        
        i{
            color: #FBFBFB;
            opacity: 100%;
        }
    }
}

.header{
    margin-top: 6em;
    margin-left: 7em;
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    i{
        font-size: 50px;
    }

    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: #212121;
        text-align: center;
    }

    .search-container{
        margin-top: 2em;
        display: flex;
        justify-content: center;
        gap: 0.5em;

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 50px 50px 50px 50px;
            outline: none;
            width: 250px;
        }
        button {
            padding: 10px 15px;
            font-size: 16px;
            border: 2px solid #ccc;
            border-left: none;
            background-color: #131313;
            color: white;
            border-radius: 50px 50px 50px 50px;
            cursor: pointer;
        }
    }
}

.Container_listbook{
    margin-top: 4em;
    margin-left: 7em;
    margin-right: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 4em;
    column-gap: 8em;

    .box_book{
        width: 200px;
        height: auto;
        padding: 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5em;

        h5{
            width: 100%;
            align-self: first baseline;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            color: #212121;
            margin: 0;
            padding-bottom: 5px;
            border-bottom: solid #585858 1.5px;
        }
        p{
            text-align: left;
            align-self: first baseline;
            font-size: 12px;
            color: #212121;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
        }
        
        img{
            margin-top: 1em;
            margin-bottom: 2em;
            width:200px;
            height: 300px;
            transition: all ease-in-out 0.2s;
            cursor: pointer;
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
            transition: all ease-in-out 0.3s;
        }


        .icon_box{
            /* width: auto; */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .box_left{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 4px;
            }

            .box_right{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        

        .section_btn_read{
            margin-top: 1em;
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
            
            p{
                border-bottom: solid #212121 1px;
                padding-bottom:0.4em;
                cursor: pointer;
                transition: all ease-in-out 0.2s;
            }
            i{
                color: #212121;
                transition: all ease-in-out 0.2s;
            }
        }
    }
}

.Container_listbook .box_book:hover img{
    transform: translate(-2px, -8px);
}

.section_btn_read:hover p{
    transform: translateX(-2px);
}
.section_btn_read:hover i{
    transform: translate(2px, -2px);
}

.section_btm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: center;
    margin-top: 4em;

    .Section_buttom_box{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: center;
        margin-left: 7em;
        gap: 25px;

        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 13px;
            margin: 0;

            a{
                color: #ff7a7a;
            }
        }

        i{
            font-size: 25px;
            color:#858585;

        }
    }    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    height: auto;
    margin-top: 2em;
    border-radius: 15px 15px 0px 0px;
    padding-left: 4em;
    padding-right: 4em;

    .box_footer{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: 10px;
        color: #dedddd;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}


