body{
    margin-bottom: 0em;
}

.Navbar_sticky{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;   
    position: fixed;
    /* position: absolute; */
    left: 1em;
    top: 30%;    
    
    .section_button{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 1em;
        column-gap: 1em;
        margin-top: 0.5em;
        border-radius: 40px;
        background: #FBFBFB;
        box-shadow: -5px 5px 15px 0 rgba(33, 38, 85, 0.25);

        .a-style_navbar{
            text-decoration: none;
            display: flex;
            
            .logo_navbar{
                border-radius: 2em;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
                transition: all ease-in-out 0.3s;
                justify-content: center;

                
                .ri-home-3-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    margin-top: 0.5em;
                    transition: all ease-in-out 0.3s;
                }
                .ri-user-3-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    transition: all ease-in-out 0.3s;
                }
                .ri-phone-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    transition: all ease-in-out 0.3s;
                }
                .ri-bookmark-line{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    /* font-weight: 100; */
                    color: #212121;
                    margin-bottom: 0.5em;
                    transition: all ease-in-out 0.3s;
                }
            }
        }
        .a-style_navbar:hover .logo_navbar i {
            color: #fffefe; 
        }
        .ri-home-3-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-user-3-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-phone-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
        .ri-bookmark-line:hover{
            transform: translateY(-5px); 
            background-color: #ff7a7a;
            padding: 0.2em;
            border-radius: 1000px;
        }
    }       
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 2em;
    margin-top: 0em;
    margin-left: 7em;
    margin-right: 4em;
    i{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #212121;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: all ease-in-out 0.2s;
        
        p{
            font-size: 25px;
            margin-left: 0.5em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            transition: all ease-in-out 0.2s;
        }
    }
    a{
        text-decoration: none;
        color: #212121;
    }
    .Faq_btn{        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        width: auto;
        height: auto;
        padding: 0.4em;
        gap: 1em;
        border-radius: 20px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        i{
            font-size: 20px;
            opacity: 0%;
        }

        p{
            margin: 0em;
            padding: 0em;
        }
    }
    .Faq_btn:hover{
        background-color: #131313;
        border-radius: 20px;
        padding-left: 1em;
        padding-right: 1em;
        color: #FBFBFB;
        
        i{
            color: #FBFBFB;
            opacity: 100%;
        }
    }
}

.Secton_container1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-left:7em;
    margin-top: 4em; 
    gap: 2em;   

    .praft1{
        font-size: 35px;
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #212121;
        margin: 0em;
    }
    
    .box_photo{
        width: 650px;
        height: 350px;
        overflow: hidden;
        border-radius: 12px;
        
        
        .library_photo{
            width: 700px;
            height: 550px;
            filter: saturate(90%);
            transition: all ease-in-out 0.2s;
        }
    }
    .library_photo:hover{
        transform: scale(1.01);
        filter: saturate(140%);
    }

}

.contain_page1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 7em;
    margin-right: 4em;
    margin-top: 2em;
    height: auto;
    
    .Box_text_Right{
        width: 35%;
        display: flex;
        justify-content: left;
        /* align-self: last baseline; */
        
        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            margin: 0em;
            color: #536162;
        }
        
    }
    
    .Box_text_left{
        width: 63%;
        display: flex;
        justify-content: left;
        border-right: solid #536162ad 1.5px;
        
        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            padding-right: 4em;
            color: #212121;
        }
    }

}

.contain_page2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 7em;
    align-items: baseline;
    
    .Box_text_left{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        gap: 2em;
        width: 40%;

        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            
            a{
                color: #ff7a7a;
            }
        }

        .Img_content{
            height: 300px;
            width: 300px;
            align-self: center;
            opacity: 0%;
            transition: all ease-in-out 0.4s;
        }
    }

    .Box_text_right{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        gap: 0.1em;
        height: auto;
        width: 63%;

        h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #536162;
            margin: 0em;
        }

        p{
            padding-right: 15em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #536162;
        }
    }
}
.contain_page2:hover .Img_content{
    opacity: 100%;
    transform: translateX(8px);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.OurbrandingH{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 7em; */
    margin-top: 7em;

    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: #536162;
        margin-bottom: 0em;
    }
}

.section_box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: center;
    gap: 5em;
    margin-top: 4em;
    margin-bottom: 8em;
    width: 1000px;
    margin-left: 7em;
    
    .Contain_box{
        height: auto;
        width: auto;
        padding: 4em;
        padding-bottom: 2em;
        padding-top: 2em;
        border-radius: 15px;
        transition: all ease-in-out 0.2s;
        text-align: center;

        i{
            font-size: 40px;
            color: #536162;
            transition: all ease-in-out 0.2s;
        }

        h3{
            color: #536162;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        p{
            color: #536162;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}
.Contain_box:hover{
    transform: translateY(8px) scale(0.9);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
.Contain_box:hover i{
    color: #ff7a7a;
}

.contain_page3{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    margin-top: 8em;
    margin-bottom: 4em;
    margin-left: 7em;
    align-items: baseline;
    
    .Box_text_left{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        gap: 2em;
        width: 40%;

        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            
            a{
                color: #ff7a7a;
            }
        }

        .Img_content{
            height: 350px;
            width: 300px;
            align-self: center;
            opacity: 0%;
            transition: all ease-in-out 0.4s;
        }
    }

    .Box_text_right{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
        gap: 0.1em;
        height: auto;
        width: 63%;

        h3{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #536162;
            margin: 0em;
        }

        p{
            padding-right: 15em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #536162;
        }
    }
}
.contain_page3:hover .Img_content{
    opacity: 100%;
    transform: translateX(-20px);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}


.logo_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    /* margin-left: 7em; */

    a{
        text-decoration: none;

        i{
            color: #536162;
            font-size: 25px;
            transition: all ease-in-out 0.3s;
        }
    }
}
.logo_section a:hover i{
    color: #FBFBFB;
    background-color: #212121;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    transform: translateY(-10px);
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-left: 7em; */
    padding-left: 7em;
    padding-right: 7em;
    height: auto;
    background-color: antiquewhite;
    align-items: center;

    .footer_box{
        .praft1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color: #536162;
            border-bottom: solid #536162 1px;
            text-align: right;
            padding-bottom: 8px;
        }

        .praft2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color: #536162;
            width: 500px;
            padding-top: 1em;
            padding-bottom: 0.5em;

            i{
                font-weight: 600;
            }
        }
    }
}






