body{
    background-color: rgb(246, 246, 246);
    margin: 0px;
}

.Header_Countainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    padding-right: 2em;

    .judul_site{
        margin: 2em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: rgb(218, 236, 255);
    }
    .navbar_section{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .navbar_button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 2em;
            text-decoration: none;

            .li_1_button{
                width: auto;
                height: auto;
                padding: 0.5em;
                padding-left: 1em;
                padding-right: 1em;
                background: rgba(255, 255, 255, 0.269);
                backdrop-filter: blur(40px);
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
                transition: all ease-in-out 0.2s;

                a{
                    text-decoration: none;
                    color: rgb(177, 177, 177);
                    font-weight: 600;
                }
            }

            .li_1_button:hover{
                background: rgba(255, 255, 255, 0.505);
                transform: translateY(-2px);
                a{
                    text-decoration: none;
                    color: rgb(237, 237, 237);
                    font-weight: 700;
                }
            }   
        }
    }
}

.section_countainer{
    background: linear-gradient(#21212585, #00000085), url(https://i.pinimg.com/1200x/72/99/1d/72991d0fec871743deac1166ad4076ad.jpg);
    background-size: cover;
    background-repeat: none;
    height: 500px;
    width: 1218.5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    gap: 1em;

    h1{
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
        color: #FBFBFB;
        opacity: 85%;
    }

    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 0px;
        text-align: center;
        color: #FBFBFB;
        opacity: 55%;
    }

    .button_section{
        width: auto;
        height: auto;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        background: rgba(255, 255, 255, 0.269);
        backdrop-filter: blur(40px);
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fbfbfbdf;
        transition: all ease-in-out 0.3s;
    }   

}

.button_section:hover{
   background: rgba(255, 255, 255, 0.505);
   color: rgb(91, 91, 91);
   transform: translateY(-2px);
   /* font-weight: 700; */
}   



.List_jasa {
    column-width: 20rem;
    column-gap: 2em; 
    padding: 2em;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 4rem;
}
.box_jasa {
    box-sizing: border-box;
    border-radius: 30px;
    background: #FBFBFB;
    box-shadow: -5px 5px 15px 0 rgba(33, 38, 85, 0.25);
    overflow: hidden;
    height: 20em;
    break-inside: avoid; 
    margin-bottom: 4.5em;     
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all ease-in-out 0.8s;
}

.box_jasa:hover{
    height: 30em;
    transform: translateY(-10px);
}
    
.box_jasa img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 25px;
    filter: grayscale(95%);

    transition: all ease-in-out 0.3s;
}
.box_jasa    img:hover{
    filter: blur(0%);
    filter: grayscale(0%);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #212655;
    margin-left: 1rem;
}

.car-item_pjudul{
    width: auto;
    height: auto;
    background-color: #f19a716c;
    border-radius: 15px;
    color: #5c1806;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    padding: 0.5em;
    font-size: 12px;
}
.countainer_rate{
    display: flex; 
    justify-content: left; 
    width: 100%; 
    align-items: center; 
    gap:1em; 
    margin-left: .5rem;
}
.car-item_pjudul2{
    width: auto;
    height: auto;
    background-color: #000000;
    border-radius: 15px;
    color: #6776ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12px;
}

.pbox{
    opacity: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;                 
    visibility: hidden;         
    transform: translateY(20px); 
    transition: all 1s ease-in-out; 
    margin-top: 1em;            
    color: #5b5b5b;
    margin-left: 1em;
}
.box_jasa:hover .pbox{
    opacity: 1;                 
    visibility: visible;        
    transform: translateY(0);   
    transition-delay: 0.1s;     
}


.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    padding: 2em;
    gap: 2em;
    border-radius: 30px 30px 0px 0px;
    background: #FBFBFB;
    box-shadow: -5px 5px 15px 0 rgba(33, 38, 85, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5b5b5b;

    .From_contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}

.footer_part{
    background-color: #5b5b5b;
    height: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #FBFBFB;
    
}
