.main_page{
    margin: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    /* z-index: 9999; */
}

.box_section{
    width: 587px;
    height: auto;
    border-radius: 31px;
    border: 4px solid #323232;
    background: #EEA557;
    box-shadow: -5px 5px 0 0 #323232, 0 4px 14px 0 rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: start;
    gap: 2rem;
    transition: all 0.3s ease;
}
.box_section:hover{
    box-shadow: -9px 9px 0 0 #323232, 0 8px 18px 0 rgba(0, 0, 0, 0.38);
    rotate: -1.2deg;
}

.section{
    width: 587px;
    height: 78px;
    border-radius: 24.9px 24.9px 0 0;
    background: #323232;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    justify-content: right;
    gap:2rem;

    .icon_1{
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-right: 2rem;
        
        .content_icon1{
            width: 31px;
            height: 2.953px;
            background: #FBFBFB;
            rotate: 136.33deg;
            position: absolute;
        }
        .content_icon1_2{
            width: 31px;
            height: 2.953px;
            background: #FBFBFB;
            rotate: -136.33deg;
            position: absolute;
        }
    }

    .icon_2{
        width: 32px;
        height: 30px;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
    
        .content_icon2{
            position: absolute;
            z-index: 10;
            width: 26px;
            height: 26px;
            border-radius: 4.667px;
            border: 2px solid #FBFBFB;
            margin-top: 5px;
            margin-right: 8px;
        }
        
        .content_icon2_1{
            position: absolute;
            z-index: 11;
            width: 26px;
            height: 26px;
            border-radius: 4.667px;
            border: 2px solid #323232;
            background: #EEA557;
            margin-bottom: 5px;
            margin-left: 8px;   
        }
        
    }
    .icon_3{
        width: 32px;
        height: 30px;
        justify-content: center;
        align-content: center;
        
        .content_icon3{
            width: 31px;
            height: 2.953px;
            background: #FBFBFB;
        }
    }
}

.container_content_section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.h1_profile{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FBFBFB;
    text-shadow: -3px 1px 0 #323232;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 40px;
    margin-bottom: 0.10px;
    rotate: -1.5deg;
}

.photo_profil{
    width: 207px;
    height: 213px;
    border-radius: 149.5px;
    border: 8px solid #FFF;
    box-shadow: -5px 5px 0 0 #323232, -5px 5px 9px 0 rgba(50, 50, 50, 0.50);
    margin-bottom: 1rem;
}

.information_photo_profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: auto;
    height: auto;

    .box_info1{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: auto;
        height: 40px;
        border-radius: 15px;
        border: 3px solid #323232;
        background: #FF7D7D;
        box-shadow: -5px 5px 0 0 #323232;
        gap: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;

        .icon_box_info1{
            width: 32px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            .content_icon_box_info1_1{
                width: 21px;
                height: 2.953px;
                background: #FBFBFB;
                rotate: 136.33deg;
                position: absolute;
            }
            .content_icon_box_info2_2{
                width: 21px;
                height: 2.953px;
                background: #FBFBFB;
                rotate: -136.33deg;
                position: absolute;
            }
        }


    }


    .box_info2{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        align-content: center;
        width: 140px;
        height: 40px;
        border-radius: 15px;
        border: 3px solid #323232;
        background: #FBFBFB;
        box-shadow: -5px 5px 0 0 #323232;
        gap: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

        .icon_box_info2{
            width: 32px;
            height: 30px;
            justify-content: center;
            align-content: center;
            align-items: center;
            display: flex;

            .content_icon_box_info2_1{
                position: absolute;
                z-index: 10;
                width: 16px;
                height: 16px;
                border-radius: 4.667px;
                border: 2px solid #323232;
                margin-top: 4.5px;
                margin-right: 8px;
            }
            
            .content_icon_box_info2_2{
                position: absolute;
                z-index: 11;
                width: 16px;
                height: 16px;
                border-radius: 4.667px;
                border: 2px solid #323232;
                background: #EEA557;
                margin-bottom: 5px;
                margin-left: 6px;   
            }
            
        }

    }


    .h3_porfile_box_info{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        color:  #323232;
    }

}

.box_info1:hover{
    transition: 0.200s;
    scale: 1.1;
    rotate: 1.2deg;
}
.box_info2:hover{
    transition: 0.200s;
    scale: 1.1;
    rotate: -1.2deg;
}

.section_naba{
    margin: 5rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .navbar_page{
        gap: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        .button1{
            
        }
        .button2{

        }
        .button3{

        }
        .button4{

        }
    }
}


/* .decor_1{
    position: relative;
    z-index: 1;
    top: 1rem;
    left: 1rem;
    right: 20px;
} */

/* ukuran handphone */
@media(max-width: 426px){
    .box_section{
        transform: scale(0.5);
        transform-origin: 0.5rem 1rem;
    }
}