body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0rem;
}


.header_box{
    display: flex;
    justify-content: space-between;
    background-color: #EEA557;
    border-radius: 0 0 45px 45px;
    margin-top: 0;
    height: auto;
    padding-top: 2rem;

    
    .section_box{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 8px;
        gap: 1.5em;
        margin-bottom: 2em;
        
        .line_vertical_judul{
            width: 12px;
            height: 200px;
            border-radius: 12px;
            border: 2px solid #323232;
            background: #FBFBFB;
            box-shadow: -5px 5px 0 0 #323232;
            margin-left: 2rem;
        }
        
        h1{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            /* margin-top: 8px; */
            color: #FBFBFB;
            text-shadow: -2.5px 2.5px 0 #323232;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
          font-weight: 400;
        }

        .navigation_button_box{
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 1.5em;

            a{
                text-decoration: none;
            }

            .buttonn_navigtion1{
                width: auto;
                height: auto;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                border-radius: 12px;
                border: 2px solid #323232;
                background: #FBFBFB;
                box-shadow: -5px 5px 0 0 #323232;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
                font-weight: 700;
                letter-spacing: 0.8px;
                color: #323232;
                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion2{
                width: auto;
                height: auto;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                border-radius: 12px;
                border: 2px solid #323232;
                background: #EEA557;
                box-shadow: -5px 5px 0 0 #323232;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
                font-weight: 700;
                letter-spacing: 0.8px;
                color: #FBFBFB;
                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion3{
                width: auto;
                height: auto;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                border-radius: 12px;
                border: 2px solid #212655;
                background: #FBFBFB;
                box-shadow: -5px 5px 0 0 #212655;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
                font-weight: 700;
                letter-spacing: 0.8px;
                color: #323232;
                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion4{
                width: auto;
                height: auto;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-content: center;
                border-radius: 12px;
                border: 2px solid #212655;
                background: #FF7D7D;
                box-shadow: -5px 5px 0 0 #212655;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
                font-weight: 700;
                letter-spacing: 0.8px;
                color: #FBFBFB;
                transition: all ease-in-out 0.2s;
            }
        }
    }
    /* .box_profile{
        
    }    */
}

.buttonn_navigtion1:hover{
    transform: scale(1.08) rotate(-1.5deg);
    cursor: pointer;
}
.buttonn_navigtion2:hover{
    transform: scale(1.08) rotate(1.5deg);
    cursor: pointer;
}
.buttonn_navigtion3:hover{
    transform: scale(1.08) rotate(-1.5deg);
    cursor: pointer;
}
.buttonn_navigtion4:hover{
    transform: scale(1.08) rotate(1.5deg);
    cursor: pointer;
}

.box_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

    .box_back_profil{
        width: 150px;
        height: 150px;
        /* transform: rotate(-9.858deg); */
        border-radius: 30px;
        border: 3px solid #323232;
        background: #FF7D7D;
        box-shadow: -6.5px 6.5px 0 0 #323232;
        z-index: 1;
        position: absolute;
        transition: all ease-in-out 0.2s;
    }
    .img_profile{
        width: 90.475px;
        height: 90.527px;
        aspect-ratio: 75/77;
        border-radius: 228.186px;
        border: 4px solid #FFF;
        background: url(resource/a\ \(1\).png) lightgray 50% / cover no-repeat;
        z-index: 2;
    }
}

.box_back_profil:hover{
    transform: rotate(-9.858deg);
    border-radius: 52px;
    cursor: pointer;
}


.content_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    margin-top:8rem;
    
    .box_content_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        gap: 4rem;
        padding: 4rem;
        padding-top: 0;

        a{
            text-decoration: none;
            text-emphasis: none;
            color: #EEA557;
        }
        
        .box_page1{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #EEA557;
            background: #FBFBFB;
            box-shadow: -8px 8px 0 0 #EEA557;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #604846;
                    background: #EEA557;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape1{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: solid #ffbb73 2px;
            background-image: url(resource/orange_pattern.png);
            background-size: cover;
        }
        }        
        .box_page2{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #FF7D7D;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #FF7D7D);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section2{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box2{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #FF7D7D;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #FF7D7D;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape2{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #FF7D7D;
            background-image: url(resource/pink_patern.jpg);
            background-size: cover;
        }
        }        
        .box_page3{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #212655;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #212655);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section3{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box3{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #212655;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #212655;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape3{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #212655;
            background-image: url(resource/Blue_pattren.png);
            background-size: cover;
        }
        }        
        .box_page4{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #ECB01E;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #ECB01E);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section4{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box4{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #ECB01E;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #ECB01E;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape4{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #ECB01E;
            background-image: url(resource/yelow_pattern.png);
            background-size: cover;
        }
        }        
    }
}

.box_page1:hover{
    transform: scale(1.01);
}
.box_page2:hover{
    transform: scale(1.01);
}
.box_page3:hover{
    transform: scale(1.01);
}
.box_page4:hover{
    transform: scale(1.01);
}


.box_orange_buttom{
    height: 75px;
    background-color: #EEA557;
    border-radius: 45px 45px 0 0;
    margin-top: 6rem;
}


@media(max-width:768px){
    .header_box{
    display: flex;
    justify-content: space-between;
    background-color: #EEA557;
    border-radius: 0 0 20px 20px;
    margin-top: 0px;
    /* height: auto; */
    padding-top: 1.5rem;
    height: 100px;
    align-content: center;
    align-items: center ;

    
    .section_box{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 8px;
        gap: 0.8em;
        margin-bottom: 2em;
        
        .line_vertical_judul{
            width: 4px;
            height: 60px;
            margin-left: 1rem;
        }
        
        h1{
            color: #FBFBFB;
            text-shadow: -1.5px 1.5px 0 #323232;
            font-weight: 100;
            font-size: 10px;
            margin-bottom: 0.4em;
        }
        p{
          font-weight: 400;
          font-size: 8px;
        }

        .navigation_button_box{
            gap: 0.5em;

            a{
                text-decoration: none;
            }

            .buttonn_navigtion1{
                width: auto;
                height: auto;
                padding: 4px;
                border-radius: 6px;
                border: 1.5px solid #323232;
                box-shadow: -2px 2px 0 0 #323232;
                font-weight: bolder;
                font-size: 5px;
                letter-spacing: 0.8px;

                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion2{
                width: auto;
                height: auto;
                padding: 4px;
                border-radius: 6px;
                border: 2px solid #323232;
                box-shadow: -2px 2px 0 0 #323232;
                font-weight: bolder;
                font-size: 5px;
                letter-spacing: 0.8px;

                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion3{
                width: auto;
                height: auto;
                padding: 4px;
                border-radius: 6px;
                border: 2px solid #323232;
                box-shadow: -2px 2px 0 0 #212655;
                font-weight: bolder;
                font-size: 5px;
                letter-spacing: 0.8px;

                transition: all ease-in-out 0.2s;
            }
            .buttonn_navigtion4{
                width: auto;
                height: auto;
                padding: 4px;
                border-radius: 6px;
                border: 2px solid #212655;
                background: #FF7D7D;
                box-shadow: -2px 2px 0 0 #212655;
                font-size: 5px;
                font-weight: bolder;
                letter-spacing: 0.8px;
                
                transition: all ease-in-out 0.2s;
            }
        }
    }
    /* .box_profile{
        
    }    */
}
.box_profile{
    margin-right: 2.5rem;
    padding-bottom: 25px;

    .box_back_profil{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 1.5px solid #323232;
        background: #FF7D7D;
        box-shadow: -3.5px 3.5px 0 0 #323232;
        z-index: 1;
        position: absolute;
        transition: all ease-in-out 0.2s;
    }
    .img_profile{
        width: 30.475px;
        height: 30.527px;
        aspect-ratio: 75/77;
        border-radius: 110.186px;
        border: 2px solid #FFF;
        background: url(resource/a\ \(1\).png) lightgray 50% / cover no-repeat;
        z-index: 2;
    }
}


.content_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 2rem; */
    margin-top:4rem;
    margin-left: 20px;
    
    .box_content_container{
        gap: 2rem;
        padding: 2rem;
        padding-top: 0;
        justify-content: center;
        
        .box_page1{
            width: auto;
            height:auto;
            border-radius: 30px;
            border: 2px solid #EEA557;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section{
                width: 190px;
                gap: 1rem;
                
                .section_box{
                    width: auto;
                    height:auto;
                    padding: 0.25rem 1rem 0.25rem 1rem;
                    border-radius: 10px;
                    font-size: 25px;
                }
                
                h3{
                    font-size: 15px;
                    margin-bottom: 2px;
                    margin-top: 1px;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 190px;
                font-size: 13px;
                color: #5f5f5f;
            }
            
            .image_shape1{
            background-color: #EEA557;
            width: 190px;
            height: 100px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 25px 25px 6px 6px;
            border: solid #ffbb73 2px;
            background-image: url(resource/orange_pattern.png);
            background-size: cover;
        }
        }        
        .box_page2{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #FF7D7D;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #FF7D7D);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section2{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box2{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #FF7D7D;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #FF7D7D;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape2{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #FF7D7D;
            background-image: url(resource/pink_patern.jpg);
            background-size: cover;
        }
        }        
        .box_page3{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #212655;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #212655);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section3{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box3{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #212655;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #212655;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape3{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #212655;
            background-image: url(resource/Blue_pattren.png);
            background-size: cover;
        }
        }        
        .box_page4{
            width: auto;
            height:auto;
            border-radius: 45px;
            border: 2px solid #ECB01E;
            background: #FBFBFB;
            filter: drop-shadow(-10px 10px 0 #ECB01E);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 2rem;
            transition: all ease-in-out 0.2s;

            .section4{
                display: flex;
                justify-content: left;
                flex-direction: row;
                align-items: center;
                width: 390px;
                gap: 1rem;
                
                .section_box4{
                    width: auto;
                    height:auto;
                    padding: 0.5rem 1.3rem 0.3rem 1.3rem;
                    border-radius: 15px;
                    border: 2px solid #323232;
                    background: #ECB01E;
                    color: #FBFBFB;
                    font-size: 32px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }

                h3{
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #ECB01E;
                }
            }

            p{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin-top: 8px;
                width: 390px;
                color: #5f5f5f;
            }
            
            .image_shape4{
            background-color: #EEA557;
            width: 390px;
            height: 200px;
            margin: 2rem;
            margin-bottom: 1rem;
            border-radius: 45px 45px 12px 12px;
            border: 3px solid #ECB01E;
            background-image: url(resource/yelow_pattern.png);
            background-size: cover;
        }
        }        
    }
}

}