
body{
    background-color: #F1F1F1;
}


#search {
    width: 100%;
    height: 30em;
    background: linear-gradient(#05117885, #05117885), url(https://images.unsplash.com/photo-1610809376778-928ee2c3a561?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
    transition: all ease-in-out 0.3s;
}

body {
    margin: 0;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p_sub_judul_h1{
    width: auto;
    height: auto;
    border-radius: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 72, 255);
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 700; 
}

.title {
    color: white;
    text-align: center;
    margin-top: 10em;
}

.title h1 {
    font-size: 3em;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title p {
    font-size: 1.5em;
    margin: 0;
    color: #f1f1f185;
}

.title hr {
    width: 50em;
    max-width: 90vw;
    border: 1px solid white;
    margin: 0;
    margin-bottom: 4em;
    opacity: 0.5;
}

.form-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    color: white;
    gap: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4rem;

}

.form-container select,
.form-container input {
    box-sizing: border-box;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    width: 15em;
    height: 2.5em;
}

.form-container button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
}


.car-list {
    column-width: 20rem;
    column-gap: 2em; 
    padding: 2em;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 8rem;
}
.car-list h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #212655;
}

.car-list h2 {
    font-size: 2em;
    margin: 2em 0;
    grid-column: 1 / -1;
    column-span: all;
    text-align: center;
}

.car-item {
    box-sizing: border-box;
    border-radius: 30px;
    background: #FBFBFB;
    box-shadow: -5px 5px 15px 0 rgba(33, 38, 85, 0.25);
    overflow: hidden;
    height: 20em;
    break-inside: avoid; 
    margin-bottom: 4.5em;     
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all ease-in-out 0.8s;
}

.car-item:hover{
    height: 30em;
    transform: translateY(-10px);
}
    
.car-item img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 25px;
    filter: grayscale(95%);

    transition: all ease-in-out 0.3s;
}
.car-item img:hover{
    filter: blur(0%);
    filter: grayscale(0%);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
    color: #212655;
    /* width: 100%;
    text-align: center; */
    margin-left: 1rem;
}

.car-item_pjudul{
    width: auto;
    height: auto;
    background-color: #f19a716c;
    border-radius: 15px;
    color: #5c1806;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    padding: 0.5em;
    font-size: 12px;
}
.countainer_rate{
    display: flex; 
    justify-content: left; 
    width: 100%; 
    align-items: center; 
    gap:1em; 
    margin-left: .5rem;
}
.car-item_pjudul2{
    width: auto;
    height: auto;
    background-color: #000000;
    border-radius: 15px;
    color: #6776ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12px;
}
.pbox{
    opacity: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;                 
    visibility: hidden;         
    transform: translateY(20px); 
    transition: all 1s ease-in-out; 
    margin-top: 1em;            
    color: #5b5b5b;
    margin-left: 1em;
}
.car-item:hover .pbox{
    opacity: 1;                 
    visibility: visible;        
    transform: translateY(0);   
    transition-delay: 0.1s;     
}


.footer_box{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #212655;
    margin-top: 5rem;
    position: absolute;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2em;
    color: #F1F1F1;
    border-radius: 45px 45px 0 0;
    margin-left: 2rem;

    /* transition: all ease-in-out 0.8s; */
}